
/* giao diện người dùng */
#menu a{
    float: left;
    height: 30px;
    width: auto;
    color: black;
    margin: auto;
    padding: 3px;
    background-color: #1102;
    font-size:20px;
    text-decoration: none;
}


#menu{
    width:70%;
    height: 250px;
    background-color: #81DAF5;
    text-align: center;
    margin:auto;
    border:2px solid #110211;

}
#menu a:hover{
    background-color: #F7BE81;
    color: #110211;
}



#log a{
    background-color: blueviolet;
    height: 50px;
    width: 250px;
    color: black;
    padding-top: 5px;
    background-color: #1102;
    font-size:20px;
    text-decoration: none;    
    margin-top:20px;
    padding-left: 3px;  
    
}

#log a:hover{  
    background-color: blue;
    color: violet;
}

/* giao diện admin */
#me{
    width:75%;
    height:180px;
    text-align: center;
    background-color:rgb(79, 136, 153);
    margin-left:160px;
    margin-top:60px;
    border: 1px solid black;
    border-radius: 5px;
}
#me #ul a{
    float:left;
    font-size: 30px;
    color: blue;
    padding: 10px;
    text-decoration: none;
    background-color: #1102;
    margin-top:40px;
    border: 2px solid black;


}


#me #ul a:hover{
    color:#088A4B;
    background-color:#F7BE81;
}

#abc a{
    float:right;
}

#wrapper table{
    border-collapse: collapse;
    width:75%;
    height:240px;
    background-color:#b3d9ff;
    text-align: center;
    margin-top:3px;
    margin-left: 160px;
}

#wrapper table tr{
    border: 2px solid  #0c6;
}

#wrapper table td{
    border: 2px solid  #0c6;
    font-size:20px;
}

#wrapper table a{
    text-decoration: none;
    font-size:20px;
}
